/* globals.css */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* ============================================
   TOKENS — définis une fois, utilisés partout
   ============================================ */
@theme {
  /* Couleurs */
  --color-primary: #d9ef78;
  --color-secondary: #213d34;
  --color-background: #f1f2ed;

  /* Typo */
  --font-display: syne;

  /* Fluid type scale : Mobile = Moitié du Desktop */
  --text-h1: clamp(2rem, 4vw + 1rem, 4.5rem);
  --text-h2: clamp(1.5rem, 3vw + 0.5rem, 3rem);
  --text-subheading: clamp(
    0.8125rem,
    1vw + 0.25rem,
    1.5rem
  ); /* 26px desktop, 13px mobile */
  --text-h3: clamp(1.125rem, 2vw + 0.5rem, 2.25rem);
  --text-h4: clamp(0.9375rem, 1.5vw + 0.5rem, 1.875rem);
  --text-h5: clamp(0.6375rem, 1.1vw + 0.2rem, 1.075rem);
  --text-body: clamp(0.9rem, 1vw + 0.25rem, 1.25rem);
}

/* ============================================
   BASE — styles appliqués aux éléments HTML
   ============================================ */
@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-display), sans-serif;
    font-weight: 500;
    color: var(--color-secondary);
    letter-spacing: -0.025em; /* Équivalent de tracking-tight */
    line-height: 1.1;
  }
  h5 {
    font-family: var(--font-display), sans-serif;
    font-weight: 500;
    color: var(--color-secondary);
    letter-spacing: -0.035em; /* Équivalent de tracking-tight */
    line-height: 1.1;
  }
  /* Application des tailles fluides */
  h1 {
    font-size: var(--text-h1);
  }
  h2 {
    font-size: var(--text-h2);
  }
  h3 {
    font-size: var(--text-h3);
  }
  h4 {
    font-size: var(--text-h4);
  }

  h5 {
    font-size: var(--text-h5);
  }
  p {
    font-family: var(--font-display), sans-serif;
    color: var(--color-secondary);
    font-size: var(--text-body);
    line-height: 1.7;
  }
}
